div
  = simple_form_for @preferences, as: :settings, url: settings_preferences_path, method: :put do |f|
    .box.--touches-header.mb-3
      .box__body
        = f.input :theme, collection: Settings::UpdatePreferencesForm::THEMES,
                          include_blank: false

    = f.button :submit, t(:save_changes)
