- show_parent_link = defined?(show_parent_link) && show_parent_link ? show_parent_link : false
- show_story = defined?(show_story) && show_story ? show_story : false
- show_children = defined?(show_children) && show_children ? show_children : false
- show_reply_link = local_assigns.has_key?(:show_reply_link) ? show_reply_link : true
- show_blank = local_assigns.has_key?(:show_blank) && show_blank ? show_blank : false

- if comments.any?
  ul.px--xxs
    - @comments.each do |comment|
      = render 'comments/comment', comment: comment,
                                   show_story: show_story,
                                   show_children: show_children,
                                   show_reply_link: show_reply_link

- elsif show_blank
  .empty
    .empty__icon
      | &times;
    p.empty__title = t('.no_comments_to_show')
    p.empty__subtitle = t('.maybe_try_changing_search')
