.box.--touches-header
  .box__body
    h2.page-title.m--0
      = t('.notifications')

.box
  .box__nav
    ul.tab
      li.tab__item
        = active_link_to t('.all'), notifications_path, active: :exclusive
      li.tab__item
        = active_link_to t('.unread'), unread_notifications_path

  ul.box__list
    - @notifications.each do |n, notification = NotificationPresenter.new(n)|
      .box__list-item.p--md
        .media.items--center(class=('bg-secondary' if !notification.seen?))
          a.mr--xs(href=notification.author.decorate.path)
            img.avatar.avatar--lg(src=notification.author.avatar_url(:size_60))

          .media__body
            p.media__title
              = notification.sentence

            p.text--subtle.text--sm(
              data-controller="time-ago"
              data-datetime=notification.created_at.iso8601
            ) = notification.created_at

  - if @notifications.empty?
    .empty
      .empty__icon
        | &times;
      p.empty__title = t('.nothing_to_show')
      p.empty__subtitle = t('.maybe_try_changing_search')

- if @notifications.try(:total_pages)
  = paginate @notifications, theme: :mini_box
