a.btn.btn--sm.btn--primary(
  class=presenter.root_class
  data-controller="follow-btn"
  data-follow-btn-action-path=toggle_follow_api_ujs_account_path(presenter.account)
  data-follow-btn-following=presenter.following?.to_s
  data-follow-btn-username=presenter.account.username
  data-action="click->follow-btn#toggle"
)

  i.fe.mr--xs(class=presenter.icon_class)
  = presenter.label
