- placeholder ||= ''
- additional_input_targets ||= []
- additional_preview_classes ||= []
- targets = (['markdown-editor.input'] + additional_input_targets).compact.join(' ')

.markdown-editor(data-controller="markdown-editor")
  .markdown-editor__body
    .markdown-editor__body-pane.markdown-editor__body-input.active(data-target="markdown-editor.editor")
      = form.text_area name, class: 'form-control',
                             placeholder: placeholder,
                             data: { target: targets }

    .markdown-editor__body-pane.markdown-editor__body-preview.text-component(
      data-target="markdown-editor.preview"
      class=additional_preview_classes
    )
      p = t('.nothing_to_show')

  .markdown-editor__footer
    a(href="https://simplemde.com/markdown-guide" target="_blank")
      = t('.markdown_supported')

    a.float-right(href="#" data-action="markdown-editor#togglePreview")
      = t('.toggle_preview')
