header.main-header
  .container
    .main-header__layout
      = render 'shared/_navbar/jumpbox'

      nav.main-header__nav
        ul.main-header__nav-list
          li.main-header__nav-item
            = active_link_to new_story_path do
              i.fe.fe-plus-circle

          li.main-header__nav-item
            = active_link_to search_posts_path do
              i.fe.fe-search

          - if user_signed_in?
            li.main-header__nav-item
              = render 'shared/_navbar/notifications'
            li.main-header__nav-item
              = render 'shared/_navbar/profile'

          - else
            li.main-header__nav-item
              = link_to new_user_session_path do
                i.fe.fe-log-in
