.markdown-editor {
  @extend .box;

  border: 1px solid var(--color-border);
}

.markdown-editor__body {
  textarea {
    border: 0;
    min-height: 100px;
    resize: none;
  }

  &-pane {
    display: none;
  }

  &-pane.active {
    display: block;
  }

  &-preview {
    padding: 0.5rem;
  }
}

.markdown-editor__footer {
  @extend .box__footer;

  border-top: 1px dashed var(--color-border);
  padding: .5rem !important;
  font-size: 0.7rem;

  a {
    color: var(--color-contrast-medium);
    text-decoration: none;
  }
}
