.popular-tags ul {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.popular-tags ul li a {
  padding: var(--space-xxs);
  margin-right: var(--space-xs);
  font-size: calc(var(--text-base-size) * 0.9);
  text-decoration: none;
  color: var(--color-contrast-medium);

  &:hover {
    text-decoration: underline;
  }
}
