.story-row {
  font-size: .9em;
  padding: var(--space-md);
}

// elements

.story-row__layout {
  display: flex;
}

.story-row__score {
  margin-right: var(--space-sm);
  padding-top: var(--space-xxxxs);

  &-btn {
    display: block;
    padding: var(--space-sm) 0;
    width: var(--space-lg);
    text-align: center;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: var(--color-contrast-high);
    font-weight: 700;

    &:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 49%;
      transform: translatex(-50%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid var(--color-contrast-high);
    }

    &:hover {
      text-decoration: none !important;

      &:before {
        animation: story-like-arrow-hover .3s infinite;
      }
    }
  }
}

.story-row__thumb {
  margin-right: var(--space-md);

  a {
    width: 7.4em;
    height: 7.4em;
    display: block;
    border-radius: var(--border-radius-md);
    font-family: Feather;
    background: var(--color-story-row-thumb-bg);
    background-size: cover;
  }

  &-empty {
    a {
      position: relative;

      &:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.3;
        content: "\E97A";
        font-size: var(--text-lg);
        color: var(--color-grey-dark);
      }
    }

    &--article a:before {
      content: "\E960";
    }
  }
}

.story-row__title {
  font-size: calc(var(--text-md) * .95);
  font-weight: 700;
  margin-bottom: var(--space-xxs);

  a {
    text-decoration: none;
    color: var(--color-contrast);
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: var(--color-contrast-medium);
  }
}

.story-row__meta {
  display: flex;
  color: var(--color-story-row-meta);
  margin-bottom: var(--space-sm);

  > li > a {
    color: var(--color-story-row-meta);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  > li:not(:last-child) {
    margin-right: var(--space-xs);

    &:after {
      content: "•";
      margin-left: var(--space-xs);
    }
  }

  li.no-dot {
    &:after {
      display: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.story-row__excerpt {
  margin-bottom: var(--space-sm);
}

.story-row__comments-count {
  span {
    margin-left: var(--space-xxxs);
  }

  i {
    display: none;
  }
}

// modifiers

.story-row--liked {
  .story-row__likes-count {
    color: var(--color-liked);
  }

  .story-row__score-btn:before {
    border-bottom: 5px solid var(--color-liked);
  }

  .story-row__score-btn:hover:before {
    animation: none;
  }
}

.story-row--removed {
  opacity: 0.5;
}

.story-row--phone {
  .story-row__thumb {
    float: right;
    margin-left: var(--space-sm);
    margin-right: 0;

    &-empty a::before {
      font-size: var(--text-md);
    }

    a {
      height: 3em;
      width: 3em;
    }
  }

  .story-row__score-btn {
    color: var(--color-contrast-high);
    display: inline;

    &::before {
      position: static;
      transform: none;
      display: inline-block;
      margin-right: var(--space-xxs);
      margin-bottom: var(--space-xxxxs);
    }
  }

  .story-row__title {
    line-height: 1.3em;
  }

  .story-row__meta {
    &:last-child {
      margin-top: var(--space-sm);
    }
  }

  .story-row__excerpt {
    line-height: 1.5em;
  }

  .story-row__comments-count {
    span {
      display: none;
    }

    i {
      display: inline-block;
      margin-right: var(--space-xxxs);
      float: left;
      padding-top: 2px;
    }
  }
}

// animations

@keyframes story-like-arrow-hover {
  0% { top: 1px; }
  50% { top: -4px; }
  100% { top: 1px; }
}
