.box-n
  .box-n-body.p-4
    h1.h4 Flag a resource

    = render 'flags/preview'

    .alert-n.alert-n--info
      p.text-xs There is already a flag pending approval for this resource. You can modify it's message using the form below:

    = render 'flags/form', resource: @flag_form, data: { 'disable-with' => 'Saving...' }
