.grid
  .col--8
    .box
      .box__body.p--md
        h1.text--lg.fw--600
          = t('.title')

        hr

        = render 'stories/form', story: @story

  .col--4
    = render 'stories/guidelines'
