// Paddings

.p--0 { padding: 0 !important; }

.p--sm { padding: var(--space-sm) !important; }
.p--md { padding: var(--space-md) !important; }
.p--lg { padding: var(--space-lg) !important; }
.px--xxs { padding-left: var(--space-xxs) !important; padding-right: var(--space-xxs) !important; }

// Margins

.m--0      { margin: 0 !important; }

.mt--sm    { margin-top: var(--space-sm) !important; }
.mt--md    { margin-top: var(--space-md) !important; }

.mb--xxxxs { margin-bottom: var(--space-xxxxs) !important; }
.mb--sm    { margin-bottom: var(--space-sm) !important; }
.mb--md    { margin-bottom: var(--space-md) !important; }
.mb--lg    { margin-bottom: var(--space-lg) !important; }

.ml--xs    { margin-left: var(--space-xs) !important; }
.ml--xxs   { margin-left: var(--space-xxs) !important; }
.ml--sm    { margin-left: var(--space-sm) !important; }
.mr--xxs   { margin-right: var(--space-xxs) !important; }

.mr--xs    { margin-right: var(--space-xs) !important; }
.mr--md    { margin-right: var(--space-md) !important; }

// Text colors

.text--warning { color: var(--color-warning); }

// Backgrounds

.bg--default { background-color: var(--color-bg) !important; }

// Font weights

.fw--600 { font-weight: 600 !important; }

// Align items

.items--center { align-items: center !important; }
.justify--center { justify-content: center !important; }

// Style & decoration

.no-underline { text-decoration: none !important; }

// Text sizes

.text--base { font-size: var(--text-base-size) !important; }

// Borders

.bb { border-bottom: 1px solid var(--color-border) !important; }

// Floats

.float-right { float: right !important; }

// Text aligns

.text--center { text-align: center !important; }
.text--right { text-align: right !important; }

// display

.d-none { display: none !important; }
.d-flex { display: flex !important; }
