- jumpbox = Jumpbox.instance
- current_link = current_jumpbox_link

.jumpbox(
  title=current_link
  data-controller="jumpbox dropdown"
  data-dropdown-placement="bottom-start"
)
  a.jumpbox__toggle(
    data-target="dropdown.toggle"
    data-action="click->dropdown#toggle click@window->dropdown#hide"
    href="#"
    title=current_link
  )
    .media.media--centered
      - if current_link.media_type == :icon
        i(class=current_link.media_class)
      - elsif current_link.media_type == :avatar
        img.avatar.avatar--xs(src=current_link.media)

      .media__body.truncate
        = current_link

  ul.dropdown(data-target="dropdown.dropdown" style="min-width: 210px")
    li.dropdown__divider(data-content="Prismo feeds")

    - jumpbox.prismo_feeds.each do |link|
      - next if link.opts[:auth_required] && !user_signed_in?

      li.dropdown__item
        = active_link_to link.path, link.link_opts do
          .media
            i(class=link.media_class)
            .media__body
              = link.label
