a.main-header__notifications#notifications-indicator(
  href=notifications_path
  data-controller="notifications-indicator"
  data-turbolinks-permanent=true
  data-notifications-indicator-all-path=notifications_path
  data-notifications-indicator-unread-path=unread_notifications_path
  title="Notifications"
)
  i.fe.fe-bell
