p
  = t('.hello_email', email: (@email))
- if @resource.try(:unconfirmed_email?)
  p
    = t('.being_changed', resource: (@resource.unconfirmed_email))
- else
  p
    = t('.been_changed', resource: (@resource.email))
