.box
  .box__body.p-4
    h1.page-title
      | Flag

    table.table.mb--sm
      tbody
        tr
          td Author
          td = link_to @flag.actor.decorate, @flag.actor.decorate.path

        tr
          td Object
          td = link_to @flag.flaggable.decorate.to_flag_title, @flag.flaggable.decorate.path

        tr
          td Summary
          td = simple_format(@flag.summary)

        tr
          td Resolved?
          td = @flag.action_taken?

        tr
          td Created at
          td = @flag.created_at

    - if policy(@flag).resolve?
      - if @flag.action_taken?
        a.btn.btn-outline--danger.mr--sm(
          href=unresolve_admin_flag_path(@flag)
          data-method="post"
          data-confirm="Are you sure you want to set this flag as unresolved?"
        ) Unresolve
      - else
        a.btn.btn-outline--success.mr--sm(
          href=resolve_admin_flag_path(@flag)
          data-method="post"
          data-confirm="Are you sure you want to set this flag as resolved?"
        ) Resolve

