doctype html
html
  head
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    = csrf_meta_tags
    = csp_meta_tag

    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  body.pt-5
    = yield
